@import '../../shared/ui/index';

.main {
  display: flex;
  background-color: $gray-900;
  width: 100%;
  height: 100%;
  overflow-x: hidden;

  .sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 10vw;
    height: 100vh;
    background-color: $primary;

    .logo {
      display: flex;
      width: fit-content;
      height: fit-content;
    }

    .menu_container {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .btn {
        display: flex;
        gap: 1rem;
        width: 100%;
        max-width: 200px;
        background-color: $gray-900;
        border-radius: 0.2em;
        padding: 0.75rem 1rem;
        color: $gray-100;
        cursor: pointer;

        &:hover {
          opacity: 0.4;
        }
      }
    }
  }

  .main_view {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    width: 80vw;

    .top_bar_wrapper {
      display: flex;
      width: 100%;
      justify-content: space-between;
    }

    .sidebar_toggle_btn {
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: fit-content;
      height: fit-content;
      cursor: pointer;
      padding: 0;
      background: none;

      .burger_bar {
        display: flex;
        width: 35px;
        gap: 1rem;
        border: 2px solid black;
      }
    }

    .profile_section {
      display: flex;
      max-width: 500px;
      width: 20rem;
      height: 10rem;
      background-color: $gray-100;
      border-radius: 0.5rem;
    }

    .header {
      display: flex;
      font-size: large;
      font-weight: 600;
      margin-bottom: 2rem;
    }

    .main_container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;

      .card_wrapper {
        display: flex;
        gap: 1rem;
        width: 100%;
        justify-content: center;
      }

      .card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 20rem;
        height: 10rem;
        background-color: $secondary;
        border-radius: 0.5rem;
        margin-bottom: 2rem;
      }

      .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        min-height: 60vh;
        background-color: $third;
        border-radius: 0.5rem;
        padding: 2rem;
      }
    }
  }
}
