@use '../../shared/ui/variables';

.main {
  @include variables.wrapper;
  background-color: variables.$gray-900;
  width: 100%;
  height: 100%;
  overflow-x: hidden;

  .main_view {
    @include variables.wrapper;
    padding: 2rem;
    width: 80vw;

    .top_bar_wrapper {
      display: flex;
      width: 100%;
      justify-content: space-between;
    }

    .profile_section {
      display: flex;
      max-width: 500px;
      width: 20rem;
      height: 10rem;
      background-color: variables.$gray-100;
      border-radius: 0.5rem;
    }

    .header {
      display: flex;
      font-size: large;
      font-weight: 600;
      margin-bottom: 2rem;
    }

    .main_container {
      @include variables.wrapper-col;

      .card_wrapper {
        display: flex;
        gap: 1rem;
        width: 100%;
        justify-content: center;
      }

      .card {
        @include variables.wrapper-col;
        max-width: 20rem;
        height: 10rem;
        background-color: variables.$secondary;
        border-radius: 0.5rem;
        margin-bottom: 2rem;
      }

      .content {
        @include variables.wrapper-col;
        min-height: 60vh;
        background-color: variables.$third;
        border-radius: 0.5rem;
        padding: 2rem;
      }
    }
  }
}
