@use '../../../shared/ui/variables';

.my-button {
  @include variables.wrapper;
  width: fit-content;
  padding: 1rem;
  border-radius: 0.2em;
  cursor: pointer;
  transition: background-color 300ms ease-out;

  font-size: 0.875rem;
  color: variables.$color5;
  background-color: variables.$color1;

  &:hover {
    transition-timing-function: ease-in;
    color: variables.$color5;
    background-color: variables.$color4;
  }

  &:active {
    background-color: #fef08a;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.75;
  }

  .dark & {
    color: variables.$color5;
    background-color: variables.$color4;

    &:hover {
      color: variables.$color5;
      background-color: variables.$color1;
    }
  }

  @media (min-width: 640px) {
    height: fit-content;
    padding: 0.5rem;
    font-size: 1.25rem;
  }

  @media (min-width: 300px) {
    height: 40px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
